a {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: 666666;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "arial black";
    font-size: 15;
    border: 1.3px;
    border-style: solid;
    border-color: white;
    padding-right: 6px;
    padding-left: 6px;
}

a:hover {
background-color: 555555;
border-bottom: 3px solid white;
}

p {
  font-size: 15px;
  color: white;
}
nav {
    display: inline-block;
    width: 90%;
    background-image: url('../img/Logo5.png');
    background-size: 200px;
    background-repeat: no-repeat;
    background-color: 366092;

    padding-right: 5%;
    padding-left: 5%;
}
nav:hover {
    display: inline-block;
    width: 90%;
    background-image: url('../img/Logo5.png');
    background-size: 200px;
    background-repeat: no-repeat;
    background-color: black;
    padding-right: 5%;
    padding-left: 5%;
}

img {
  opacity: 0.85;
}10%v {  display: block;
    padding-left: 2px
    font-family: "arial";
}

body {
    background opacity: 0.5;
    background: url('../img/Background.png');
    background-color: #9A9A9A;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 900px 680px;
}
li {

}

ul  {
font-size: 20;
}

.chart {
  font: 11px sans-serif;
  text-align: left;
  padding: 2px;
  margin: 1px;
  font-weight: bold;
}

.left {
width: 60%;
background-color: 555555;
opacity: 0.85;
float: left;
color: white;
padding-left: 5%;
padding-right: 5%;
font-family: "arial";
font-size: 18;
}

.right {
  width: 25%;
  float: right;
  background-color: 366092;
  opacity: 0.7;
  color: white;
  padding-left: 2.5%;
  padding-right: 2.5%;
  font-size: 15px;
}

.topPlayerDiv {
  background-color:gold;color:000000;
  font-size: 13;
}

.playerDiv {
  background-color:555555;color:gold;
  font-size: 13;
}

#clockDiv{
    font-family: sans-serif;
    color: black;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockDiv > div{
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    background-color: white;
    opacity: 0.3;
}

#clockDiv div > span{
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

.jDawgs {
  background-color: 555555;
  float: left;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-family: arial;
  font-size: 18;
  text-align: right;
  width: 35%;
}

.jTown {
  background-color: 555555;
  float: right;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-family: arial;
  font-size: 18;
  width: 35%;
}
